@font-face {
    font-family: Righteous; 
    src: url(../../fonts/Righteous-Regular.ttf); 
}

@font-face {   
    font-family: Comfortaa; 
    src: url(../../fonts/Comfortaa-VariableFont_wght.ttf); 
}

@font-face {   
    font-family: MirzaBold; 
    src: url(../../fonts/Mirza-Bold.ttf); 
}

  h1 {
    font-family: Righteous;
  }

  h2 {
    font-family: Righteous;
  }

  h3 {
    font-family: Righteous;
  }

  h4 {
    font-family: Righteous;
  }

  p {
    font-family: Comfortaa;
  }

  li {
    font-family: Comfortaa;
  }

  a {
    font-family: MirzaBold;
  }

