@import "../components/_components.scss";
@import "../components/_fonts.scss";


@media screen and (min-width: 768px) {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 5px;
        text-align: center;
        font-size: 2em;      
    }

    img{
        height: 20vh;
    }
    
    .getintouch {
        grid-row: 1;
        grid-column: 1;
    }

    .contact {
        grid-row: 1;
        grid-column: 2;
    }

    .cv {
        grid-row: 1;
        grid-column: 3;
    }

}

@media screen and (max-width: 767px) {
    .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        // gap: 0px;
        text-align: center;
        font-size: 1em;
        width: 100%;
    }


    img {
        width: 10vh;
    }
    // .getintouch {
    //     grid-row: 1;
    //     grid-column: 1;
    // }

    // .contact {
    //     grid-row: 1;
    //     grid-column: 1;
    // }

    // .cv {
    //     grid-row: 1;
    //     grid-column: 1;
    // }

}